{
    "RetrieveSubscriberResponse": {
        "SubscriberList": {
            "SubscriberRecord": [
                {
                    "ICCID": "89601615021000442808",
                    "BillType": "0",
                    "ExpiryDate": "2022-07-23T23:59:59",
                    "MSISDN": "60109238051",
                    "TelecomType": "1",
                    "ActiveDate": "2021-07-22T15:24:10",
                    "SubscribedOffersList": {
                        "SubscribedOffersRecord": [
                            {
                                "Status": "ACTIVE",
                                "ExpireDate": "2099-12-31T23:59:59",
                                "IsPackageMember": false,
                                "CreateDate": "2021-07-22T15:21:10",
                                "ExpirationModeList": {
                                    "ExpirationMode": [
                                        "0"
                                    ]
                                },
                                "OfferType": "PRIMARY",
                                "OfferId": "87983",
                                "EffectDate": "2021-07-22T15:21:10",
                                "CatalogItemName": "Mobile Voice",
                                "OfferName": "DiGi GameReload",
                                "CatalogItemId": "77000052",
                                "IsPackage": false,
                                "ParameterList": {
                                    "ParameterRecord": [
                                        {
                                            "ParameterValue": "0",
                                            "ParameterName": "FAMILY LEVEL",
                                            "ParameterId": "888",
                                            "ParameterSeq": "2614051"
                                        },
                                        {
                                            "ParameterValue": "300",
                                            "ParameterName": "PROFILE",
                                            "ParameterId": "PROFILE",
                                            "ParameterSeq": "2614050"
                                        }
                                    ]
                                },
                                "OfferDesc": "DiGi GameReload"
                            },
                            {
                                "Status": "ACTIVE",
                                "ExpireDate": "2099-12-31T23:59:59",
                                "IsPackageMember": false,
                                "CreateDate": "2021-07-22T15:21:10",
                                "ExpirationModeList": {
                                    "ExpirationMode": [
                                        "0"
                                    ]
                                },
                                "OfferType": "SUPPLEMENTARY",
                                "OfferId": "73710",
                                "EffectDate": "2021-07-22T15:21:10",
                                "CatalogItemName": "DATA PAYU Prepaid",
                                "OfferName": "GPRS_Standard",
                                "CatalogItemId": "116341",
                                "IsPackage": false,
                                "ParameterList": {
                                    "ParameterRecord": [
                                        {
                                            "ParameterValue": "0",
                                            "ParameterName": "PCC_PRDTYPE",
                                            "ParameterId": "1071",
                                            "ParameterSeq": "2614058"
                                        }
                                    ]
                                },
                                "OfferingSegment": "PAYU",
                                "OfferDesc": "GPRS_Standard"
                            }
                        ]
                    },
                    "CustomerId": "1000020240389",
                    "PayType": "PREPAID",
                    "SubscriberType": "1",
                    "CreateDate": "2021-07-22T15:21:10",
                    "Tenure": "250",
                    "DefaultAccountId": "4000020244380",
                    "SubscriberId": "2000020233729",
                    "IMSI": "502162052623943",
                    "SubscriberStatus": "ACTIVE",
                    "SubscriberLanguage": "2",
                    "EffectiveDate": "2021-07-22T15:21:10"
                }
            ]
        }
    }
}